<!DOCTYPE html>
<html ng-app='AngularMap'>
<head lang="en">
<meta charset="UTF-8">
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js'></script>
	<script src='controllers/mapcontroller.js'></script>
	<script src='http://maps.google.cn/maps/api/js?sensor=false'></script>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">

	<!-- NOTE: My own directive-->
	<script src='directives/googlemapdirective.js'></script>

	<!-- NOTE: Angular-google-map directive library -->
	<!--<script src='js/angular-google-maps.min.js'></script>
	<script src='js/lodash.min.js'></script> -->

	<title>User Input</title>
</head>
<body ng-controller="MapController">
	<form>
	    <label for="selectCar"> Choose car: </label>
	   	<select name="selectCar" ng-model="selectCar">
			<option value="All" selected>All</option>
			<option ng-repeat="marker in markers" value="{{marker.title}}">{{marker.title}}</option>
		</select>
	</form>
	<form>
	    <label for="selectSize"> Choose size: </label>
	    <select name="selectSize" ng-model="selectSize">
			<option value="All">All</option>
			<option ng-repeat="marker in markers" value="{{marker.size}}">{{marker.size}}</option>
		</select>
	</form>

	<!-- USING Angular-google-map directive-->
	<!--<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-marker coords="marker.coords" idkey="marker.id" ng-repeat="marker in markers" options="marker.options">
       	</ui-gmap-marker>
	</ui-gmap-google-map>-->

	<!-- USING My own directive -->
	<mygmap center='map.center' zoom='map.zoom' markers='markers'></mygmap>

	<table>
		<tr>
			<th ng-repeat="title in tableHeaders">{{title}}</th>
		</tr>
		<tr ng-repeat="marker in markers" ng-class="marker.options.visible ? 'showRow' : 'hideRow'">
			<td>{{ marker.title }}</td>
		    <td>{{ marker.size }}</td>
		    <td>{{ marker.coords.latitude }}</td>
		    <td>{{ marker.coords.longitude }}</td>
		</tr>
	</table>
</body>
</html>