<!DOCTYPE html>
<html ng-app='AngularMap'>
<head lang="en">
<meta charset="UTF-8">
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js'></script>
	<script src='controllers/mapcontroller.js'></script>
	<script src='http://maps.google.cn/maps/api/js?sensor=false'></script>
	<link rel="stylesheet" type="text/css" href="css/stylesheet.css">

	<!-- NOTE: My own directive-->
	<script src='directives/googlemapdirective.js'></script>

	<!-- NOTE: Angular-google-map directive library -->
	<!--<script src='js/angular-google-maps.min.js'></script>
	<script src='js/lodash.min.js'></script> -->

	<title>User Input</title>
</head>
<body ng-controller="MapController">
	<form class="listContainer" >
	    <label for="selectCar"> Choose car: </label>
	    <select name="selectCar" ng-model="selectCar">
			  <option value="">All</option>
			  <option value="truck">Truck</option>
			  <option value="sedan">Sedan</option>
			  <option value="van">Van</option>
			  <option value="motorcycle">Motorcycle</option>
		</select>
	</form>
	<!-- USING Angular-google-map directive-->
	<!--<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		<ui-gmap-marker coords="marker.coords" idkey="marker.id" ng-repeat="marker in markers" options="marker.options">
       	</ui-gmap-marker>
	</ui-gmap-google-map>-->

	<!-- USING My own directive -->
	<mygmap center='map.center' zoom='map.zoom' markers='markers'></mygmap>
</body>
</html>